/Cmail-Web/nbproject/private/
/Cmail-Servicio/nbproject/private/
/Cmail-Resources/nbproject/private/
/Cmail-Modelo/nbproject/private/
/Cmail-Documentos/nbproject/private/
/Cmail-Dao/nbproject/private/
/Cmail-Web_old/nbproject/private/
/Cmail-Dao/build/
/Cmail-Servicio/build/
/Cmail-Modelo/build/
/Cmail-Dao/dist/
/Cmail-Modelo/dist/
/Cmail-Documentos/build/
/Cmail-Documentos/dist/
/Cmail-Resources/dist/
/Cmail-Resources/build/
/Cmail-Servicio/dist/
/Cmail-Web/dist/