@charset "utf-8";

label, .iceOutLbl{    
    font-weight: normal;
}

.iceOutLblInf{
    color: red;
}

.iceOutLblInfResalte{
    color: #004080;
}

/*----------- message ----------*/
.iceMsg {
    color: red;
}

.iceMsgFatal {
color: red;
}

.iceMsgError {
    color: #f00;
}

.iceMsgWarn {
    color: red;
}

.iceMsgInfo {
    color: red;
}

/*----------- messages ----------*/
.iceMsgs {
    color: red;     
    background-color: #e0b7b4;
    padding: 3px;
    border: #c16f6f solid 1px;
}

#form\:messages{
    background-color: #fef2f1;
    padding: 3px;
    border: #dfdbdb solid 1px;
    margin-bottom: 10px;   
}

.iceMsgsFatal {
    color: #f5871f;
}

.iceMsgsError {
    color: red;    
}

.iceMsgsWarn {
    color: #f1c946;
}

.iceMsgsInfo {
    color: #689134;
}

/**/
.iceDatTbl .iceCmdLnk .iceGphImg{
    border: 0px solid green;
}

.iceTreeRow{
    /*border: 1px dotted green;*/
}

.iceTreeRow a{
    border: 0px dotted green;
}


/**Div de controles guardar, cancelar,etc*/
.controles{
    text-align: center;
    background-color: #e7e5e4;
    padding: 2px;
    border: #b1a7a7 solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/**Div de controles buscar, nueva,etc*/
.opciones{    
    padding: 2px;
    background-color: #d3dee2;
    border: #729196 solid 1px;    
}

.subir{    
    background-color: #eaeff1;
    padding: 5px;
    border: #729196 solid 1px;
    margin-bottom: 10px;
}

.separador{
    color: #666666;    
    font-weight: bold;    
    background-color: #d4d8dd;
    font-family: 'Times New Roman',Times,serif;
    width: 100%;
    padding: 2px;
}

.separadorOdd{
    color: #666666;    
    font-weight: bold;    
    background-color: #d4d8dd;
    font-family: 'Times New Roman',Times,serif;    
    padding: 2px;
}

.columnsPanelGrid{
    /*
    width: 33%;    
    */
    vertical-align: top;
}

.rowsPanelGrid{
    height: 32px;
}

.labelFinPlanificacion{
    font-weight: bold;        
}
.textFinPlanificacion{
    border: solid 1px #d3dee2;  
    width: 250px;
    display: block;
    box-shadow:0px 0px 5px #767F80;    
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius: 2px;
    padding: 2px;
    text-align: justify;
    background-color: #F5F5F5;
    
}

.tableInt{
    border-color: silver; 
    border-style: solid; 
    border-width: 1px; 
    border-collapse:collapse;
}

.tableInt th{
    color: #666666;    
    font-weight: bold;    
    background-color: #d4d8dd;
    font-family: 'Times New Roman',Times,serif;    
    padding: 2px;
}

.tableInt td, .tableInt th{
    border-color: silver;
}

.wijmo-wijmenu-text{
    /*color: black;*/
}

.ui-button-text{
    /*color: white;*/
    /*font-weight: bold;*/
}

.ui-button-row{
    padding: 2px;
}

.menuBar{
    background: #f1c946;
}

.help-icon{
    width: 24px;
    height: 24px;
    background-image: url(../icono/help.png);
}

.mensajeNotificacion{
    padding: 3px;    
}

.mensajeNotificacionError{    
    background-color: #ecd5d3;
    border-color: #ff3333;    
}

.mensajeNotificacionAviso{    
    background-color: #e8f0df;
    border-color: #98b379;    
}

.mensajeNotificacionTipo{
    font-weight: bold;
}

.mensajeNotificacionTipoAviso{
    color: #004080;
}

.mensajeNotificacionTipoError{
    color: #c16f6f;
}

.mensajeNotificacionText{}

.mensajeNotificacionTextAviso{
    color: #084b22;
}

.mensajeNotificacionTextError{
    color: #671414;
}

/**Panel de Confirmación*/
.icePnlCnf{
    border-width: 3px;
}

.icePnlGrpColumnTop{
    vertical-align: top;     
}

.icePnlGrpColumnTop3{
    width: 33%;
}