
/**Contenedor principal*/
#page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -42px; /* (header+footer)  */
    position: relative;    
    /*margin: 0 auto -42px;*/
    text-align: left;
    background-color: #ffffff;    
    width: 90%;
}

/**Encabezado de página*/
#header {
    height: 140px;    
    background: url('home/images/header_bg.jpg') repeat-x;    
}

#header h1 {
    margin:0;        
    color: #CB392C;
    font:bold 40px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing:-2px;
    vertical-align: cen middle;
}

#header h1 a, #header h1 a:hover {
    color:#CB392C;
    text-decoration:none;
    font:bold 40px/1.2em Arial, Helvetica, sans-serif;
}

#header h1 span {
    color:#4799dc;
    font:bold 40px/1.2em Arial, Helvetica, sans-serif;
}

#header h1 small {
    display:block;
    margin:-4px 0;
    padding:0 0 0 134px;
    font:normal 15px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing:normal;
}

#header .usuario {
    font:normal 16px Arial, Helvetica, sans-serif;
    padding:8px 0;
    margin:8px 0;
    color:#CB392C;
}



/**Pie de página*/
#footer, .push {
    height: 42px; /* .push must be the same height as .footer */
}

#footer {
    position: relative;
    margin: 0 auto;
    background: url(home/images/bg.jpg) no-repeat;
    background-color: #2e3242;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#footer a {
    color: #ffffff;
    text-decoration: underline;
    border: 0;
}

#footer p {
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 700px;
    padding: 0;
    color: #ffffff;
    font: 0.8em arial,sans-serif;
    text-align: center;
}

#content{    
}

#content h2{
    font-size:  18px;
}

.separador{
    color: #666666;    
    font-weight: bold;    
    background-color: #d4d8dd;
    font-family: 'Times New Roman',Times,serif;
    width: 100%;
    padding: 2px;
}

/*.article {
    margin:0;
    padding:16px 0 24px 40px;
}

.article p {
    margin:8px 0;
    padding:0 0 8px 0;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}

.article li{
    margin-left: 12px;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}

.article h2{    
    font:bold 20px Arial, Helvetica, sans-serif;
    color: #2b2922;
}
*/

.login-messages{
    width: 280px; text-align: left;
}

.login-content{
    background-image:  url('login/login-bg.png');
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    padding: 20px;
}

.txtLogin{    
    width: 240px;
    height: 35px;            
    font-size: 16px;
    color: #318496;
    font-weight: bold;
    
    border-right-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #999999;
    border-top-color: #999999;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
}

.lblLogin{    
    font-size: 16px;
    color: #d03838;
    font-weight: bold;
}
