/* 
    Document   : style.css
    Created on : 03/04/2013, 02:25:06 PM
    Author     : desarrollador
    Description:
        Purpose of the stylesheet follows.
*/

html, body, div, table, img, fieldset {
    border: 0; margin: 0; padding: 0;
}

body {	
    background: url("home/images/bg.jpg") repeat-x scroll 0% 0% #f3fbf0;
    font: 0.7em/1.6em Tahoma,Verdana,Arial,Helvetica,Sans-Serif;
    color: rgb(51, 51, 51);    
    margin-top: 15px;
}

#main{
    width : 1000px;    
    margin-left : auto;
    margin-right : auto;
    padding : 0;
    border : 5px solid #ccc;    
    border-radius: 4px;

    min-height: 600px; 
    
    background: #fff url(home/images/02.gif) repeat;
    color: #666; 
}

#content{
    padding: 10px;
}

#footer{        
    margin: 0px;
    margin-top: 15px;
    padding: 0px;    
    padding-left: 30px;
    padding-right: 30px;
    clear: both;
    height: 65px;
    background: url("home/images/footer_bg.gif") repeat-x scroll center top transparent;
    
    /*background:#eae8d6 url(home/images/footer.png) 0 0 repeat-x;
    font-size:11px;*/
}

#logo .title{
    font: bold 24px/24px Arial, Helvetica, sans-serif;
    /*text-transform: uppercase;*/ 
    color: rgb(0, 102, 170);
    
}

#logo .slogan{
    font-size: 1.5em;
    letter-spacing: 3px;    
    color: rgb(196, 218, 100);
}

#logo .usuario{
    font-size: 1.5em;
    letter-spacing: 3px;    
    color: #ef494e;
}

.article{    
}

.article .title{
    /*width: 300px;*/
    height: 35px;
    background: none repeat scroll 0% 0% rgb(242, 240, 220);
    color: rgb(216, 0, 0);
    font: 26px/34px "Trebuchet MS",Arial,Helvetica,sans-serif;
}